.MoviesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
    padding-top: 40px;
}

.MoviesContainer h1{
    color: #1a1a1a;
    font-size: 20px;
    margin-top: 100px;
}

@media (min-width: 768px) {

    .MoviesContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}


.Pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.Pagination button {
    background-color: #1a1a1a;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.Pagination button:hover {
    background-color: #088FD8FF;
}

.Pagination button:disabled {
    background-color: #4c4949;
    cursor: not-allowed;
}

.Pagination .PageIndicator {
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.Pagination .PageIndicator::after {
    content: "/";
    margin: 0 5px;
}

@media (max-width: 768px) {
    .Pagination {
        font-size: 14px;
    }

    .Pagination button {
        padding: 8px 16px;
    }
}

.GenresContainer {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
