.backButton {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    width: calc(90% - 40px);
    background-color: #1a1a1a;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.backButton:hover {
    background-color: #088FD8FF;
}