.backButton {
    position: absolute;
    top: 70px;
    left: 5px;
    padding: 10px 20px;
    width: 120px;
    background-color: #1a1a1a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.backButton:hover {
    background-color: #088FD8FF;
}